
body{
	width: 80%;
	margin : 0 auto ;
	font-family: Roboto;
}

.inputs-basicos {
	width: 48%;
	display: inline-block;
}
.inputs-basicos label {
	width: 100%;
	
}

.inputs-basicos input,select {
	width: 98%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.deporte-genero{
	width: 100%;
}
.deporte-genero div{
	width: 24%;
	display: inline-block;
}
.label-titulo{
	display: block;
}
#boton-enviar{
	width: 40%;
	height: 40px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 30px;
	border-radius: 4px;
	background-color: rgba(0,64,255,.5);
}









